services:
  homarr:
    container_name: homarr
    image: ghcr.io/ajnart/homarr:latest
    restart: unless-stopped
    volumes:
      - ./homarr/configs:/app/data/configs
      - ./homarr/icons:/app/public/icons
      - ./homarr/data:/data
    networks:
      - proxy-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.homarr.rule=Host(`homepage.cavydev.com`)
      - traefik.http.routers.homarr.entrypoints=websecure
      - traefik.http.routers.homarr.tls.certresolver=myresolver
      - traefik.docker.network=proxy-network
      - traefik.http.routers.homarr.middlewares=authentik-auth@docker
      - traefik.http.services.homarr.loadbalancer.server.port=7575
networks:
  proxy-network:
    external: true
