# ==========================================
# 1. APPLICATION DATA & PERSISTENCE
# We track the configuration (YAML), but never the data.
# ==========================================
**/data/
**/db/
**/db-data/
**/database/
**/postgres/
**/postgres_data/
**/redis/
**/redis_data/
**/n8n_data/
**/homarr_data/
**/filestash_data/
**/media/
**/logs/
**/vault/file/

# App-specific data (Gitea)
**/gitea/gitea/
**/gitea/git/
**/gitea/ssh/

# ==========================================
# 2. SECURITY & SECRETS (CRITICAL)
# ==========================================
# Environment files
.env
*.env
.env.*
!.env.example

# SSH Keys & Certificates
*.pem
*.key
*.pub
**/*_key
**/*_key.pub
**/authorized_keys
**/.ssh/
**/certs/
**/letsencrypt/

# Deployment Secrets (Vault, Ansible, Cloud)
.vault_pass
*.vult
secrets.yml
credentials.yml
role_id
secret_id

# ==========================================
# 3. DEVOPS TOOLS (TERRAFORM & ANSIBLE)
# ==========================================
# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Ansible
*.retry
inventory.ini
ansible_secret_vars.yml

# ==========================================
# 4. RUNTIME & SYSTEM
# ==========================================
.docker/
pidfile
*.log
*.tmp
*.swp
.DS_Store

# ==========================================
# 5. DEVELOPMENT (NODE / ANGULAR / IDE)
# ==========================================
node_modules/
dist/
.angular/
.npm
package-lock.json
yarn.lock
.vscode/
.idea/


**/config/extensions/
**/config/.cache/
**/config/.local/

# ==========================================
# 5. IMAGES & MEDIAS
# ==========================================
*.png
*.jpg
*.jpeg
*.svg
*.gif
