#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/security-hardening

- name: Install UFW and Fail2ban
  ansible.builtin.apt:
    name:
      - ufw
      - fail2ban
    state: present

# --- UFW (Firewall) Configuration ---

- name: Configure UFW - Deny all incoming traffic by default
  community.general.ufw:
    default: deny
    direction: incoming

- name: Configure UFW - Allow essential ports
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ ufw_allowed_ports }}"

- name: Enable UFW
  community.general.ufw:
    state: enabled

# --- SSH Configuration ---

- name: SSH - Disable password authentication
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
    validate: /usr/sbin/sshd -t -f %s
  notify: Restart SSH

- name: SSH - Disable direct root login
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
    validate: /usr/sbin/sshd -t -f %s
  notify: Restart SSH

# --- Fail2ban Configuration ---

- name: Start and enable Fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: yes
