# SPDX-License-Identifier: MIT-0
---
# tasks file for roles/docker-runtime

- name: Add Docker GPG apt Key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present

- name: Install Docker and Docker Compose
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present
    update_cache: true

- name: Ensure Docker service is running and enabled on boot
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true

- name: Add admin user to the docker group
  ansible.builtin.user:
    name: "{{ docker_admin_user }}"
    groups: docker
    append: true
  # Requires reconnecting to the server for the group change to take effect
