---
- name: Trigger Manual Backup
  hosts: all
  become: true
  tasks:
    - name: Import Backup Role
      ansible.builtin.import_role:
        name: backup

    - name: Run Backup Script
      ansible.builtin.command: /usr/local/bin/backup-homelab.sh
      register: backup_output
      changed_when: backup_output.rc != 0

    - name: Display Backup Output
      ansible.builtin.debug:
        var: backup_output.stdout_lines
