name: IaC Linting

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v26
        with:
          args: "ansible/"

  terraform-fmt:
    name: Terraform Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      
      - name: Terraform fmt
        run: terraform fmt -check -recursive terraform/

  docker-lint:
    name: Docker Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: "**/Dockerfile"
          recursive: true
          failure-threshold: warning
